@use 'styles/mixins' as mx;
@use 'styles/config' as cfg;
@use 'styles/functions' as fn;

$component: yx-dialog;

$animation-duration: 300; // ms
$animation-duration-delta: 100; // ms

$animation-duration-backdrop: $animation-duration + $animation-duration-delta;

$shadow-config: 0px 40px 70px 0px rgba(0, 0, 0, 0.25);

.#{$component} {
  @include mx.themify('background-color', 'drop');

  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: fn.offset();
  width: 100%;
  max-width: calc(100% - #{fn.offset()} * 2);
  height: calc(100% - #{fn.offset()} * 2);
  max-height: unset;
  border: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;

  &[open] {
    display: flex;
    animation: show-dialog #{$animation-duration}ms linear normal;

    &::backdrop {
      animation: show-backdrop #{$animation-duration-backdrop}ms ease;
    }
  }

  &::backdrop {
    @include mx.themify('background-color', 'modal-backdrop-bg');

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: none;
  }

  &.#{$component}_hidden {
    animation: hide-dialog #{$animation-duration}ms linear normal;

    &::backdrop {
      animation: hide-backdrop #{$animation-duration-backdrop}ms ease;
    }
  }

  &_side {
    &_right,
    &_left {
      align-items: flex-start;
      margin: 0;
      padding-right: 0;
      padding-left: 0;
      max-width: 100%;

      .#{$component}__wrapper {
        margin: 0;
        height: 100%;
        max-height: calc(100vh - #{fn.offset()} * 2);
      }

      .#{$component}__content {
        flex-grow: 1;
        overflow-y: auto;
      }
    }

    &_right {
      justify-content: flex-end;

      &[open] {
        animation: show-dialog-right #{$animation-duration}ms linear normal;
      }

      &.#{$component}_hidden {
        animation: hide-dialog-right #{$animation-duration}ms linear normal;
      }

      .#{$component}__header {
        border-radius: fn.border-radius(2) 0 0 0;
      }

      .#{$component}__content {
        border-radius: 0 0 0 fn.border-radius(2);
      }
    }

    &_left {
      justify-content: flex-start;

      &[open] {
        animation: show-dialog-left #{$animation-duration}ms linear normal;
      }

      &.#{$component}_hidden {
        animation: hide-dialog-left #{$animation-duration}ms linear normal;
      }

      .#{$component}__header {
        border-radius: 0 fn.border-radius(2) 0 0;
      }

      .#{$component}__content {
        border-radius: 0 0 fn.border-radius(2) 0;
      }
    }
  }

  &__wrapper {
    @include mx.themify('color', 'modal-color');

    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    max-width: min(90vw, 500px);
    max-height: 100%;
    border: none;
  }

  &__header {
    @include mx.themify('background-color', 'c-white');
    @include mx.themify('border-color', 'accent-muted');

    display: flex;
    position: relative;
    align-items: center;
    flex-flow: row nowrap;
    padding: fn.offset(2.5) fn.offset(3) fn.offset(1.5);
    border-radius: fn.border-radius(2) fn.border-radius(2) 0 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 2;
  }

  &__header-title {
    margin: 0;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.24rem;
    hyphens: auto;
  }

  &__header-close {
    @include mx.themify('color', 'primary');

    padding: fn.offset();
    margin: 0 -0.24rem 0 auto;
    align-self: baseline;
    cursor: pointer;

    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &__content {
    @include mx.themify('background-color', 'c-white');

    display: flex;
    position: relative;
    flex-direction: column;
    padding: fn.offset(2) fn.offset(3) fn.offset(3);
    height: 100%;
    border-radius: 0 0 fn.border-radius(2) fn.border-radius(2);
    box-shadow: $shadow-config;
    z-index: 1;
  }
}

@keyframes show-dialog-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes hide-dialog-right {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes show-dialog-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes hide-dialog-left {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes show-dialog {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hide-dialog {
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes show-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide-backdrop {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
