$black-100: #000000;
$dark: #0c1b2e;

$accent: #195ba9;
$accent-medium: #174378;
$accent-dark: #002b5e;

$gray: #f9fafb;
$gray-dark: #eef0f1;
$gray-deep: #eaeef2;
$gray-light: #fafafa;

$red: #e55768;
$red-light: #fad1d8;

$green: #11ae6c;
$yellow: #ffb906;

$blue-light: #afc7e5;

$white-100: #ffffff;
$accent-muted: #d9e3f0;
$accent-muted-light: #f4f6fa;
$muted: #6f7f90;

$drop: transparent;
